.cdk-column-IA {
  width: 100px;
}
.cdk-column-Comercial {
  width: 100px;
}
.cdk-column-Operativo {
  width: 100px;
}
.cdk-column-Consenso {
  width: 100px;
}
.cdk-column-Acciones {
  width: 200px;
}

.infositio-primary-button {
  justify-content: flex-end;
}

.cdk-header-cell {
  text-align: center;
}
